body, html {
    height: 100%;
}

.background_image { 
    background-image: url("C:\Users\luwie\Desktop\April's stuff\dot_connection_cropped.jpg");
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.background_text { 
    text-align: center; 
    position: absolute;
    color: lightslategray;
}
