body, html {
    height: 100%;
}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.sticky_header {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    overflow: hidden; 
    background-color: black;
    padding: 8px;
    font-size: 15px; 
    color: white; 
}

li a { 
    display: block; 
    color: #282828; 
    list-style-type: none;
}
.background_image { 
    background-image: url("https://ak.picdn.net/shutterstock/videos/29750992/thumb/1.jpg");
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.background_text { 
    text-align: center; 
    position: absolute;
    color: rgb(40,40,40);
    top: 70%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-family: Optima, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.social { 
    list-style-type: none;
    text-align: center; 
}
.body_container {
    display: inline-grid;
    font-family: Optima, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;     
}

.h2 {
    text-align: center; 
    font-family: Optima, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

.item_a img { 
    float: right;
    padding: 0 20px 20px 0; 
}

.item_e img { 
    float: left;
    padding: 0 20px 20px 0; 
    width: 400px; 
    height: 200px;
    object-fit: cover;
}

.item_w img { 
    float: right;
    padding: 0 20px 20px 0; 
}


